<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <h2>MENU</h2>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">Home</a></li>
        <li id="config"><a href="/config">Model config</a></li>
        <li id="activity"><a href="/activity">User activities</a></li>
        <li id="events"><a href="/events">Events</a></li>
        <li id="neighbors"><a href="/neighbors">Neighbors</a></li>
      </ul>
    </div>
  </div>
</nav>
