<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      th, td, p, input {
        font:14px Verdana;
      }
      table, th, td
      {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
      }
      th {
        font-weight:bold;
      }

      div.ex1 {
        width: 800px;
        height: 300px;
        overflow: scroll;
      }
    </style>
  </head>

  <body>

    <header>
      <% include ./partials/menu %>
    </header>

    <h1><%= title %></h1>

    <form action="/activity/" method="get">
      User ID: <input type="number" name="userId" value=""><br>
      Current Date (mm/dd/yyyy): <input type="date" name="currDate" value="2018-01-01"><br>
      Current Time (hh:mm): <input type="time" name="currTime" value="00:00"><br>
      <input type="submit" value="Get">
    </form>

    <table>
      <tr>
        <th>No.</th>
        <th>User Id</th>
        <th>Activity Count</th>
        <th>Event Id</th>
        <th>Sport Id</th>
        <th>Competition</th>
        <th>Home</th>
        <th>Away</th>
        <th>Updated At</th>
      </tr>
      <% for (var i = 0; i < activities.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= activities[i].user_id %></td>
          <td><%= activities[i].activity_count %></td>
          <td><%= activities[i].event_id %></td>
          <td><%= activities[i].sport_id %></td>
          <td><%= activities[i].competition_name %></td>
          <td><%= activities[i].home_team_name %></td>
          <td><%= activities[i].away_team_name %></td>
          <td><%= activities[i].updated_at %></td>
        </tr>
      <% } %>
    </table>

  </body>
</html>
