<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      th, td, p, input {
        font:14px Verdana;
      }
      table, th, td
      {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
      }
      th {
        font-weight:bold;
      }

      div.ex1 {
        width: 800px;
        height: 300px;
        overflow: scroll;
      }
    </style>
  </head>

  <body>

    <header>
      <% include ./partials/menu %>
    </header>

    <h1><%= title %></h1>

    <form action="/config/model" method="post">
      <table>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Period(days)</th>
          <th>Event Count</th>
          <th>Created At</th>
          <th>Updated At</th>
        </tr>
        <% for (var i = 0; i < models.length; i++) { %>
          <tr>
            <td><%= models[i].id %></td>
            <td><input type="text" name="descriptionList" value=<%= models[i].description %>></td>
            <td><input type="number" name="periodDaysList" value=<%= models[i].period_days %>></td>
            <td><input type="number" name="eventCountList" value=<%= models[i].event_count %>></td>
            <td><%= models[i].created_at %></td>
            <td><%= models[i].updated_at %></td>
          </tr>
        <% } %>
      </table>
      <input type="submit" value="Update">
    </form>

  </body>
</html>
