<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      th, td, p, input {
        font:14px Verdana;
      }
      table, th, td
      {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
      }
      th {
        font-weight:bold;
      }

      div.ex1 {
        width: 1200px;
        height: 300px;
        overflow: scroll;
      }
    </style>
  </head>

  <body>

    <header>
      <% include ./partials/menu %>
    </header>

    <h1><%= title %></h1>

    <form action="/events" method="get">
      Current Date (mm/dd/yyyy): <input type="date" name="currDate" value="2018-01-01"><br>
      Current Time (hh:mm): <input type="time" name="currTime" value="00:00"><br>
      <input type="submit" value="Get">
    </form>

    <br><br>

    <div class="ex1">
      <form action="/activity" method="post">
        User ID: <input type="number" name="userId" value="">
        <input type="submit" value="Create">
        <table>
          <tr>
            <th>No.</th>
            <th>Score</th>
            <th>Event Id</th>
            <th>Sport ID</th>
            <th>Status</th>
            <th>Start</th>
            <th>Competition</th>
            <th>Home</th>
            <th>Away</th>
            <th>Check</th>
          </tr>
          <% for (var i = 0; i < events.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= events[i].score %></td>
              <td><%= events[i].event_id %></td>
              <td><%= events[i].sport_id %></td>
              <td><%= events[i].status %></td>
              <td><%= events[i].event_start %></td>
              <td><%= events[i].competition_name %></td>
              <td><%= events[i].home_team_name %></td>
              <td><%= events[i].away_team_name %></td>
              <td><input type="checkbox" name="checkList" value=<%= i %>></td>
            </tr>
          <% } %>
        </table>
      </form>
    </div>

  </body>
</html>
