<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      th, td, p, input {
        font:14px Verdana;
      }
      table, th, td
      {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
      }
      th {
        font-weight:bold;
      }

      div.ex1 {
        width: 800px;
        height: 300px;
        overflow: scroll;
      }
    </style>
  </head>

  <body>

    <header>
      <% include ./partials/menu %>
    </header>

    <h1><%= title %></h1>
    <p><b>Get bespoke list</b></p>
    <form action="/bespoke" method="post">
      User ID: <input type="number" name="userId" value=""><br>
      Current Date (mm/dd/yyyy): <input type="date" name="currDate" value="2018-01-01"><br>
      Current Time (hh:mm): <input type="time" name="currTime" value="12:00"><br>
      <input type="submit" value="Get">
    </form>

    <table>
      <tr>
        <th>Model</th>
        <th>Score</th>
        <th>Sport ID</th>
        <th>Event ID</th>
        <th>Start Time</th>
        <th>Competition</th>
        <th>Home</th>
        <th>Away</th>
      </tr>
      <% for (var i = 0; i < list.length; i++) { %>
        <tr>
          <td><%= list[i].model %></td>
          <td><%= parseFloat(list[i].score).toFixed(2) %></td>
          <td><%= list[i].sport_id %></td>
          <td><%= list[i].event_id %></td>
          <td><%= list[i].event_start %></td>
          <td><%= list[i].competition_name %></td>
          <td><%= list[i].home_team_name %></td>
          <td><%= list[i].away_team_name %></td>
        </tr>
      <% } %>
    </table>

    <p><b>User team stats</b></p>
    <div class="ex1">
      <table>
        <tr>
          <th>No.</th>
          <th>Sport ID</th>
          <th>Team ID</th>
          <th>Team Name</th>
          <th>Event Count</th>
          <th>Bet Count</th>
          <th>Score</th>
        </tr>
        <% for (var i = 0; i < teamStats.length; i++) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= teamStats[i].sport_id %></td>
            <td><%= teamStats[i].team_id %></td>
            <td><%= teamStats[i].team_name %></td>
            <td><%= teamStats[i].event_count %></td>
            <td><%= teamStats[i].bet_count %></td>
            <td><%= parseFloat(teamStats[i].score).toFixed(2) %></td>
          </tr>
        <% } %>
      </table>
    </div>

  </body>
</html>
