<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      th, td, p, input {
        font:14px Verdana;
      }
      table, th, td
      {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
      }
      th {
        font-weight:bold;
      }

      div.ex1 {
        width: 800px;
        height: 300px;
        overflow: scroll;
      }
    </style>
  </head>

  <body>

    <header>
      <% include ./partials/menu %>
    </header>

    <h1><%= title %></h1>

    <form action="/neighbors" method="get">
      User ID: <input type="number" name="userId" value=""><br>
      <input type="submit" value="Get">
    </form>

    <table>
      <tr>
        <th>No.</th>
        <th>Neighbor User ID</th>
        <th>Similarity</th>
      </tr>
      <% for (var i = 0; i < neighbors.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= neighbors[i].userId %></td>
          <td><%= neighbors[i].similarity %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
